<h1>People#show</h1>
<p><%= @msg %></p>
<pre>
<table>
    <tr><th>Name</th>
        <td><%= @user.name %></td></tr>
    <tr><th>Mail</th>
        <td><%= @user.mail %></td></tr>
    <tr><th>Password</th>
        <td><%= @user.password %></td></tr>
    </tr>
</table>
</pre>